.gallery-item {
  height: 40rem;
  width: 40rem;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.4s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  max-width: auto;
  max-height: 150%;
  display: block;
  background-position: center;
}
