.section-about {
  padding: 9.6rem 0;
}

.about-us-name {
  color: #888;
  font-size: 5.2rem;
  font-weight: 600;
}

.about-us-description {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 4.8rem;
}

.about-us-how-we-train {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-bottom: 4.8rem;
}

.about-us-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.about-us-text {
  color: #aaa;
  font-size: 1.8rem;
}
