.section-testimonials {
  padding: 12.8rem 0;
  background-color: #eee;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.4rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}
